.dialog {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.25);

    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.dialog-content {
    position: absolute;
    background-color: #fff;
}